@import 'tailwindcss';
@import 'component.css';

@layer base {
  :root {
    font-family:
      Inter,
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;

    color: #1f2937;
    background: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-width: 360px;
  }

  button {
    cursor: pointer;
  }
}
